/* część stylów powtarza sie także dla sekcji 'o firmie'
dlatego są one w jednym pliku */

/* wspólne style */
.grid-side{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4rem;
}
.text-and-btns{
    width: min-content;
    padding-bottom: 32px;
    padding-top: 32px;
}
.h1{
    margin-bottom: 44px;
    width: 100%;
}
p{
    margin-bottom: 72px;
    width: 100%;
}
.absolute-side{
    height: 90vh;
}

/* hero-section */
.hero-section{
    background-color: #DCC1AB;
}
.btn-container{
    display: flex;
    gap: 36px;
    width: min-content;
}
.btn:first-child{
    color: white;
    background-color: #1B5B31;
    outline: none;
}
.btn:last-child img{
    width: 0.9rem;
    height: auto;
}
.btn{
    white-space: nowrap;
    font-size: 1rem;
    color: white;
    color: #1B5B31;
    border-radius: 200px;
    outline: 1px solid #1B5B31;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 12px;
    padding-bottom: 14px;
}
.carousel, .carousel-inner{
    height: inherit;
    width: inherit;
}
.carousel-item{
    height: 100%;
}
.img-fluid{
    width: auto;
    height: 100%;
    object-fit: cover;
}
.controls-container{
    background-color: #F5F0EC;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 32px;
}
.control-btn{
    outline: none;
    display: flex;
    align-items: center;
    border: 0;
}
.control-btn img{
    height: 1.5rem;
    width: auto;
}
.control-btn:last-child{
    transform: rotate(180deg);
}

/* 'o firmie' section */
.o-firmie-section{
    background-color: #1B5B31;
    color: #F5F0EC;
}
.img-container{
    height: 100%;
    width: 100%;
}
.img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.o-firmie-section .text-and-btns{
    padding-left: 96px;
}
.o-firmie-section .grid-side{
    justify-content: flex-start;
    padding-right: 0;
    padding-left: 64px;
}
.o-firmie-section .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    outline: 1px solid #F5F0EC;
}
.o-firmie-section .h1{
    margin-bottom: 40px;
}

@media only screen and (max-width: 1100px){
    .o-firmie-section .text-and-btns{
        padding-left: 0;
    }
}

@media only screen and (max-width: 991px) {
    .grid-side{
        padding: 0;
        flex-direction: column;
    }
    .text-and-btns{
        display: flex;
        flex-direction: column;
    }
    .btn-container{
        align-self: center;
    }
    .o-firmie-section .grid-side{
        padding-left: 0;
    }
    .o-firmie-section .text-and-btns{
        padding-left: 0;
    }
    #o-firmie-btn-container{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 650px) {
    .btn-container{
        flex-direction: column;
        width: 250px;
    }
    .absolute-side{
        height: 60vh;
    }
    /* .controls-container{
        display: none;
    } */
}