.nav-container{
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.navbar-brand img{
    width: max(150px,10vw);
    height: auto;
}
.search-form{
    display: none;
    width: min(25vw, 300px);
}
.search-form-display-flex{
    gap: 1rem;
    display: flex;
}
.search-btn{
    font-size: 1rem;
    background-color: #1B5B31;
    color: white;
    border: none;
    transition: ease-in .2s;
    border-radius: 10px;
}
.search-btn:hover{
    background-color: white;
    color: #1B5B31;
}
.search-icon{
    width: 1rem;
    height: auto;
}

@media only screen and (max-width: 991px) {
    .search-form{
        display: flex;   
        gap: 12px;
        width: 80vw;
    }
}
@media only screen and (min-width: 992px) {
    .navbar{
        height: 10vh;
    }
}