.oferta-section{
    background-color: #F5F0EC;
    padding-top: 120px;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oferta-section *::selection{
    background-color: #1B5B31;
    color: #F5F0EC;
}
.text-container{
    width: min(80%, 1000px);
}
.text-container p{
    width: 75%;
}
.text-container h1{
    margin-bottom: 32px;
}
.cards-container{
  padding-left: 5vw;
  padding-right: 5vw;  
}
.card{
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 28px;
    height: 100%;
    cursor: pointer;
    transition: ease .2s;
    border: 0;
}
.card img{
    width: 44px;
    height: auto;
    padding-bottom: 32px;
}
.card h5{
    margin-bottom: 12px;
}
.card .btn{
    padding: 0;
    width: fit-content;
    border-radius: 0;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #1B5B31;
    color: #1B5B31;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    margin-top: 64px;
}
.card .btn-arrow{
    width: 16px;
    height: 16px;
    padding: 0;
}
.card:hover{
    transform: scale(1.05) rotate(-5deg);
    background-color: #1B5B31;
    color: white;
    box-shadow: 5px -5px #123c21, 10px -10px #0d2b17;
}
.card:hover .btn{
    color: white;
    border-bottom: 1px solid white;
}
.card:hover img{
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(159deg) brightness(105%) contrast(104%);
}
.card:hover .btn-arrow{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7486%) hue-rotate(159deg) brightness(105%) contrast(104%);
}

@media only screen and (max-width: 650px){
    .text-container{
        width: 90%;
    }
    .text-container p{
        width: 100%;
    }
}